@model Web.Models.News.NewsView

<div>
    <div class="category-header">
        <div>
            <div class="card" style="border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px">
                <h5 class="card-header">@Html.DisplayFor(m => m.Title)</h5>
            </div>
        </div>
    </div>
</div>
<div class="slider-product row">
    <div class="single-product-custom col-lg-3 col-md-4 col-sm-12">
        <div class="card-product-custom">
            <div class="card">
                <img class="card-img-top" src="@Html.DisplayFor(m => Model.ImageUrl)" alt="image" style="width:100%">
                <div class="card-body" style="padding: 0px">
                    <a href="#">
                        <p class="card-text">@Html.DisplayFor(m => Model.Title)</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>