
@{
    ViewBag.Title = "GetSingleNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Web.Models.News.NewsView

@* region content*@
<div class="content-custom row">
    @* region sidebar*@
    <div class="sidebar-custon col-md-3">
        @Html.Partial("_Sidebar")
    </div>
    @* end region*@

    @* region main-content*@
    <div class="main-content-custom col-md-9">
        @Html.Partial("_SingleNewsView", Model)
    </div>
    @* end region *@
</div>
@* end region *@

